.combat-sidebar .resources.superiority-resources {
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.combat-sidebar .resources.superiority-resources .superiority-title {
  background-color: var(--impmal-lightblue);
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.75rem;
  text-align: center;
  width: 100%;
}

.combat-sidebar .resources.superiority-resources .superiority-row {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

.combat-sidebar .resources.superiority-resources .superiority-label {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

.combat-sidebar .resources.superiority-resources .superiority-resource {
  flex: 0 1 auto;
  flex-direction: column;
  gap: 0.25rem;
}

.combat-sidebar .resources.superiority-resources .superiority-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
}

.combat-sidebar .resources.superiority-resources .superiority-controls input {
  flex: 0 0 42px;
  margin: 0;
}

.combat-sidebar .resources.superiority-resources .superiority-button {
  flex: 0 0 26px;
  padding: 0;
  line-height: 1.4rem;
}
